<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/b8977956b3.js" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <title>Home</title>
 <link rel="stylesheet" href="../src/CSS/account-manager.css">
</head>

<script>
  const currentURL = window.location.origin;
</script>
<body>


  <%- include(headerFile) %>
  <div class="modal3" style="display: block;">
    <div class="modal_wrap3">
      <div class="previous_page">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
      <form class="form3" id="form1">
        <div class="account_list">
          <% accounts.forEach(function(user) { %>

          <div class="account" id="<%=user.id%>">
            <div class="left_gr">
              <div class="avt_container">
                <% if (user.anh_dai_dien) { %>
                  <img src='<%= user.anh_dai_dien %>' alt="">
                <% } else { %>
                  <img src='https://static.wikia.nocookie.net/f5bef280-f4ab-42a1-b7fe-378c176a4da1/scale-to-width-down/800' alt="">
                <% } %>
                

              </div>
              <h2><%= user.ten_hien_thi %></h2>
            </div>
            <input type="hidden" value='<%= user.id %>'>
            <div class="right_gr">
              <% if (user.role == 0  && user.last_role ==2) { %>

                  <div class="block_account_f5 open">
                    Mở khoá người dùng
                  </div>
                  <div class="block_account block">
                    Khoá người dùng
                  </div>
                  <div class="author_btn last">
                    Xoá quyền tác giả
                  </div>
                  <div class="author_btn_f5 block open">
                    Thêm quyền tác giả
                  </div>
               
              <% } else if ( user.role ==0 && user.last_role == 1) { %>
                <div class="block_account_f5 open">
                  Mở khoá người dùng
                </div>
                <div class="block_account block">
                  Khoá người dùng
                </div>
                <div class="author_btn block">
                  Xoá quyền tác giả
                </div>
                <div class="author_btn_f5 last open">
                  Thêm quyền tác giả
                </div>
              <% } else if(user.role ==1) { %>
                <div class="block_account_f5 open block">
                  Mở khoá người dùng
                </div>
                <div class="block_account ">
                  Khoá người dùng
                </div>
                <div class="author_btn block">
                  Xoá quyền tác giả
                </div>
                <div class="author_btn_f5 open">
                  Thêm quyền tác giả
                </div>
              <% } else { %>
                <div class="block_account_f5 open block">
                  Mở khoá người dùng
                </div>
                <div class="block_account">
                  Khoá người dùng
                </div>
                <div class="author_btn">
                  Xoá quyền tác giả
                </div>
                <div class="author_btn_f5 block open">
                  Thêm quyền tác giả
                </div>
              <% } %>
            </div>
          </div>

          <% }); %>



        </div>
      </form>
    </div>
  </div>
  <%- include(footerFile) %>

</body>

<script src="../src/JS/account-manager.js"></script>

</html>