<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/b8977956b3.js" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/src/CSS/Style.css" />
  <link rel="stylesheet" href="/src/CSS/category-page.css" />
  <link rel="stylesheet" href="/src/CSS/search_reposive.css" />
  <link rel="stylesheet" href="/src/CSS/category-page-reposive.css" />

  <!-- select -->
  <script src="https://cdn.syncfusion.com/ej2/22.1.34/dist/ej2.min.js" type="text/javascript"></script>
  <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>

  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-base/styles/material.css" rel="stylesheet" />
  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-inputs/styles/material.css" rel="stylesheet" />
  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-dropdowns/styles/material.css" rel="stylesheet" />
  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-buttons/styles/material.css" rel="stylesheet" />
  <!-- select -->

  <title>Advanced Search</title>
</head>

<body>
  <script src="/src/JS/link.js"></script>

  <%- include(headerFile) %>

  <main>
    <div class="container">
      <div class="sort-menu-container">
        <div class="fix_btn">
          <button class="show_menu">
            <span><i class="fa-solid fa-bars"></i></span>
          </button>
        </div>
        <div class="sort-menu">
          <div class="change-category sort-container">
            <div class="select-title">Ngày tải lên</div>

            <select class="sort update_day" name="ct" id="ct">
              <option value="1" <%= autochoose.update_day === '1' ? 'selected' : '' %>>Tất cả</option>
              <option value="2" <%= autochoose.update_day === '2' ? 'selected' : '' %>>Hôm nay</option>
              <option value="3" <%= autochoose.update_day === '3' ? 'selected' : '' %>>Tuần này</option>
              <option value="4" <%= autochoose.update_day === '4' ? 'selected' : '' %>>Tháng này</option>
              <option value="5" <%= autochoose.update_day === '5' ? 'selected' : '' %>>Năm nay</option>
            </select>
          </div>

          <div class="change-category sort-container">
            <div class="select-title">Thể loại</div>
            <div class="information_name_wrap">
              <div id="container">
                <ul id="ulElement">
                  <li>Action</li>
                  <li>Adult</li>
                  <li>Adventure</li>
                  <li>Anime</li>
                  <li>Chuyển Sinh</li>
                  <li>Comedy</li>
                  <li>Comic</li>
                  <li>Cooking</li>
                  <li>Cổ Đại</li>
                  <li>Doujinshi</li>
                  <li>Drama</li>
                  <li>Đam Mỹ</li>
                  <li>Ecchi</li>
                  <li>Fantasy</li>
                  <li>Gender Bender</li>
                  <li>Harem</li>
                  <li>Historical</li>
                  <li>Horror</li>
                  <li>Josei</li>
                  <li>Live action</li>
                  <li>Manga</li>
                  <li>Manhua</li>
                  <li>Manhwa</li>
                  <li>Martial Arts</li>
                  <li>Mature</li>
                  <li>Mecha</li>
                  <li>Mystery</li>
                  <li>Ngôn Tình</li>
                  <li>One shot</li>
                  <li>Psychological</li>
                  <li>Romance</li>
                  <li>School Life</li>
                  <li>Sci-fi</li>
                  <li>Seinen</li>
                  <li>Shoujo</li>
                  <li>Shoujo Ai</li>
                  <li>Shounen</li>
                  <li>Shounen Ai</li>
                  <li>Slice of Life</li>
                  <li>Smut</li>
                  <li>Soft Yaoi</li>
                  <li>Soft Yuri</li>
                  <li>Sports</li>
                  <li>Supernatural</li>
                  <li>Thiếu Nhi</li>
                  <li>Tragedy</li>
                  <li>Trinh Thám</li>
                  <li>Truyện scan</li>
                  <li>Truyện Màu</li>
                  <li>Webtoon</li>
                  <li>Xuyên Không</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="change-category sort-container">
            <div class="select-title">Số chương truyện</div>

            <select class="sort num_chaps" name="ct" id="ct">
              <option value="1" <%= autochoose.num_chaps === '1' ? 'selected' : '' %>>Tất cả</option>
              <option value="2" <%= autochoose.num_chaps === '2' ? 'selected' : '' %>> > 10 chương</option>
              <option value="3" <%= autochoose.num_chaps === '3' ? 'selected' : '' %>> > 100 chương</option>
              <option value="4" <%= autochoose.num_chaps === '4' ? 'selected' : '' %>> > 1000 chương</option>
            </select>
          </div>

          <div class="change-category sort-container">
            <div class="select-title">Trạng thái</div>

            <select class="sort status" name="ct" id="ct">
              <option value="1" <%= autochoose.status === '1' ? 'selected' : '' %>>Tất cả</option>
              <option value="2" <%= autochoose.status === '2' ? 'selected' : '' %>>Đang ra</option>
              <option value="3" <%= autochoose.status === '3' ? 'selected' : '' %>>Hoàn Thành</option>
              <option value="4" <%= autochoose.status === '4' ? 'selected' : '' %>>Tạm dừng</option>
            </select>
          </div>

          <div class="change-category sort-container">
            <div class="select-title">Sắp xếp theo</div>

            <select class="sort sort_by" name="ct" id="ct">
              <option value="1" <%= autochoose.sort_by === '1' ? 'selected' : '' %>>Lượt xem</option>
              <option value="2" <%= autochoose.sort_by === '2' ? 'selected' : '' %>>Lượt thích</option>
              <option value="3" <%= autochoose.sort_by === '3' ? 'selected' : '' %>>Ngày cập nhật</option>
            </select>
          </div>

          <div class="change-category sort-container sort-container-btn">
            <div class="select-title"></div>
            <button class="search-btn">Lọc Truyện</button>
          </div>
        </div>
      </div>
      <ul class="menu-tag">
        <li class="active">
          <a href="/" title="doc truyen">
            <i class="fa-solid fa-house"></i> Truyện</a>>
        </li>
        <li class="active"><a href="/category">Tìm kiếm nâng cao</a></li>
      </ul>
      <h1 id="current-category">Danh sách truyện</h1>

      <div class="body_main">
        <div class="top_popular">
          <div class="novel_wrap">
            <div class="novel">
              <% if (result.length > 0) {%> <% for (let i=0; i <
                result.length; i++) { %>
              <a href="/reviews/<%= result[i]._id %>" class="novel_item">
                <div>
                  <div class="novel_item_main">
                    <div class="novel_item_main_img">
                      <img src="<%= result[i].image %>" alt referrerpolicy="no-referrer" />
                    </div>
                    <div class="novel_title" onclick="myFunction()">
                      <div class="novel_name"><%= result[i].name %></div>
                      <div class="novel_author">
                        Tác giả : <span> <%= result[i].author %> </span>
                      </div>
                      <div class="novel_chapter">
                        Chap : <span> <%= result[i].no_chapters %> </span>
                        <div style="font-size: 13px">
                          <%= result[i].status %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <% } %> <% } else {%>
              <span class="no_novel">Không tìm thấy kết quả</span>
              <% } %>
            </div>
            <% if (more_novel == true) {%>
            <div class="search_more">
              <button class="search_more_btn">
                <span>Xem thêm</span>
                <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="37" cy="37" r="35.5" stroke="var(--black-text)" stroke-width="3"></circle>
                  <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="var(--black-text)"></path>
                </svg>
              </button>
            </div>
            <%}%>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include(footerFile) %>
</body>
<script>
  var listObj = new ej.dropdowns.MultiSelect({
        // set placeholder to MultiSelect input element

        <%if (autochoose && autochoose.types != undefined){%>
        <%
        const arr = autochoose.types.split(',');
        const formattedArr = arr.map((item) => `'${item}'`);
        const result_type = formattedArr.length > 0 ? `[${formattedArr.join(", ")}]` : "''";
        %>
        value: <%- result_type%>,
        <%}%>

      placeholder: "Chọn thể loại truyện",
    },
    "#ulElement"
  );
  var ele = document.querySelectorAll("#container");
  if (ele) {
    ele.forEach((a) => {
      a.style.visibility = "visible";
    });
  }
</script>
<script src="/src/JS/category-page.js"></script>

</html>