<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/b8977956b3.js" crossorigin="anonymous"></script>
  <!-- <script src="http://ajax.googleapis.com/ajax/liblogin_ways/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->

  <link rel="stylesheet" href="/src/CSS/Style.css">
  <link rel="stylesheet" href="/src/CSS/category-page.css" />

  <!-- select -->
  <script src="https://cdn.syncfusion.com/ej2/22.1.34/dist/ej2.min.js" type="text/javascript"></script>
  <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>

  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-base/styles/material.css" rel="stylesheet" />
  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-inputs/styles/material.css" rel="stylesheet" />
  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-dropdowns/styles/material.css" rel="stylesheet" />
  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-buttons/styles/material.css" rel="stylesheet" />
  <!-- select -->
  <title>Home</title>
  <script>
    const currentURL = window.location.origin;
  </script>
</head>

<body>
  <%- include(headerFile) %>
  <script src="/src/JS/link.js"></script>


  <div class="body_wrap">
    <div class="novel_container">
      <div class="trending-container">
        <!-- <div class="swiper" style="height: 637px;">
          Additional required wrapper
          <div class="swiper-wrapper" navigation="true" pagination="true" keyboard="true" mousewheel="true" css-mode="true">
            Slides
            <% for (var i=0; i < jsontruyen['all_time'].length; i++) { %>
              <% if (i >4) {break}%>
              <div class="swiper-slide" style="border: none; margin: 0; padding: 0;">
                <a href="/reviews/<%=jsontruyen['all_time'][i]._id%>">
                  <div class="trending_novel_item">
                    <img referrerpolicy="no-referrer" src="<%=jsontruyen['all_time'][i].image%>" alt="image" referrerpolicy="no-referrer" class="trending_backg">
                  </div>
                </a>
                </div>
              <% } %>


          </div>
          If we need pagination
          <div class="swiper-pagination"></div>

          <div class="swiper-scrollbar"></div>
        </div> -->
        <div class="slider_con">
          <div class="slide_bg"></div>
          <div id="slide">
            <div class="item">
                <div class="image">
                    <img src="https://images3.alphacoders.com/133/thumbbig-1334920.webp">
                </div>
                <div class="content">
                    <div class="left">
                        <h1>NARUTO</h1>
                        <div class="des">Tinh ru anh choi da <br> Chua kip choi da ma em da da anh</div>
                        <button>Seee more
                            <i class="fa-solid fa-angle-right"></i>
                            <i class="fa-solid fa-angle-right"></i>
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>
                    <div class="right">
                        <h2>THỂ LOẠI</h2>
                        <ul>
                            <li>
                                <a href="">Hành động</a>
                            </li>
                            <li>
                              <a href="">Kinh dị</a>
                            </li>
                            <li>
                              <a href="">Trinh tham</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
             <div class="item">
                <div class="image">
                    <img src="https://images3.alphacoders.com/133/thumbbig-1334920.webp">
                </div>
                <div class="content">
                    <div class="left">
                        <h1>NARUTO</h1>
                        <div class="des">Tinh ru anh choi da <br> Chua kip choi da ma em da da anh</div>
                        <button>Seee more
                            <i class="fa-solid fa-angle-right"></i>
                            <i class="fa-solid fa-angle-right"></i>
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>
                    <div class="right">
                        <h2>CẤU HÌNH</h2>
                        <ul>
                            <li>
                                <p>Năm sản xuất</p>
                                <p>2022</p>
                            </li>
                            <li>
                                <p>Năm sản xuất</p>
                                <p>2022</p>
                            </li>
                            <li>
                                <p>Năm sản xuất</p>
                                <p>2022</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
             <div class="item">
                <div class="image">
                    <img src="https://images3.alphacoders.com/133/thumbbig-1334920.webp">
                </div>
                <div class="content">
                    <div class="left">
                        <h1>NARUTO</h1>
                        <div class="des">Tinh ru anh choi da <br> Chua kip choi da ma em da da anh</div>
                        <button>Seee more
                            <i class="fa-solid fa-angle-right"></i>
                            <i class="fa-solid fa-angle-right"></i>
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>
                    <div class="right">
                        <h2>CẤU HÌNH</h2>
                        <ul>
                            <li>
                                <p>Năm sản xuất</p>
                                <p>2022</p>
                            </li>
                            <li>
                                <p>Năm sản xuất</p>
                                <p>2022</p>
                            </li>
                            <li>
                                <p>Năm sản xuất</p>
                                <p>2022</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
          </div>
          <div class="directional">
            <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
            <button id="next"><i class="fa-solid fa-angle-right"></i></button>
        </div>
        </div>
      </div>
      

    </div>
    <div class="body_main">
      <div class="search_up">
        <div class="top_popular_top_title">Tìm kiếm</div>
        <div class="sort-menu">
          <div class="change-category sort-container">
            <div class="select-title">Ngày tải lên</div>

            <select class="sort update_day" name="ct" id="ct">
              <option value="1" selected="">Tất cả</option>
              <option value="2">Hôm nay</option>
              <option value="3">Tuần này</option>
              <option value="4">Tháng này</option>
              <option value="5">Năm nay</option>
            </select>
          </div>

          <div class="change-category sort-container">
            <div class="select-title">Thể loại</div>
            <div class="information_name_wrap">
              <div id="container">
                <ul id="ulElement">
                  <li>Action</li>
                  <li>Adult</li>
                  <li>Adventure</li>
                  <li>Anime</li>
                  <li>Chuyển Sinh</li>
                  <li>Comedy</li>
                  <li>Comic</li>
                  <li>Cooking</li>
                  <li>Cổ Đại</li>
                  <li>Doujinshi</li>
                  <li>Drama</li>
                  <li>Đam Mỹ</li>
                  <li>Ecchi</li>
                  <li>Fantasy</li>
                  <li>Gender Bender</li>
                  <li>Harem</li>
                  <li>Historical</li>
                  <li>Horror</li>
                  <li>Josei</li>
                  <li>Live action</li>
                  <li>Manga</li>
                  <li>Manhua</li>
                  <li>Manhwa</li>
                  <li>Martial Arts</li>
                  <li>Mature</li>
                  <li>Mecha</li>
                  <li>Mystery</li>
                  <li>Ngôn Tình</li>
                  <li>One shot</li>
                  <li>Psychological</li>
                  <li>Romance</li>
                  <li>School Life</li>
                  <li>Sci-fi</li>
                  <li>Seinen</li>
                  <li>Shoujo</li>
                  <li>Shoujo Ai</li>
                  <li>Shounen</li>
                  <li>Shounen Ai</li>
                  <li>Slice of Life</li>
                  <li>Smut</li>
                  <li>Soft Yaoi</li>
                  <li>Soft Yuri</li>
                  <li>Sports</li>
                  <li>Supernatural</li>
                  <li>Thiếu Nhi</li>
                  <li>Tragedy</li>
                  <li>Trinh Thám</li>
                  <li>Truyện scan</li>
                  <li>Truyện Màu</li>
                  <li>Webtoon</li>
                  <li>Xuyên Không</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="change-category sort-container">
            <div class="select-title">Số chương truyện</div>

            <select class="sort num_chaps" name="ct" id="ct">
              <option value="1" selected="">Tất cả</option>
              <option value="2">> 10 chương</option>
              <option value="3">> 100 chương</option>
              <option value="4">> 1000 chương</option>
            </select>
          </div>

          <div class="change-category sort-container">
            <div class="select-title">Trạng thái</div>

            <select class="sort status" name="ct" id="ct">
              <option value="1" selected="">Tất cả</option>
              <option value="2">Đang ra</option>
              <option value="3">Hoàn Thành</option>
              <option value="4">Tạm dừng</option>
            </select>
          </div>

          <div class="change-category sort-container">
            <div class="select-title">Sắp xếp theo</div>

            <select class="sort sort_by" name="ct" id="ct">
              <option value="1" selected="">Lượt xem</option>
              <option value="2">Lượt thích</option>
              <option value="3">Ngày cập nhật</option>
            </select>
          </div>

          <div class="change-category sort-container sort-container-btn">
            <div class="select-title"></div>
            <button class="search-btn">Lọc Truyện</button>
          </div>
        </div>
        <div class="novel_wrap avd_search">
          <div class="novel">
            <% for(let i = 0; i <novel_avd.length; i++) { %>
              <a href="/reviews/<%=novel_avd[i]._id%>" class="novel_item">
              <div >
                  <div class="novel_item_main">
                      <div class="novel_item_main_img">
                          <img src="<%=novel_avd[i].image%>" alt referrerpolicy="no-referrer">
                      </div>
                      <div class="novel_title" onclick="myFunction()">
                          <div class="novel_name"><%=novel_avd[i].name%></div>
                          <div class="novel_author">
                              Tác giả : <span><%=novel_avd[i].author%></span>
                          </div>
                          <div class="novel_chapter">
                              Chap : <span><%=novel_avd[i].no_chapters%></span>
                              <div style="font-size: 13px;"><%=novel_avd[i].status%></div>
                          </div>
                      </div>
                  </div>
              </div>
          </a>
              <% }%>
            </div>
            <div class="search_more" >
              <button class="search_more_btn" <%= novel_check ? 'style="display: none;"' : 'style="display: block;"' %>>
                <span>Xem thêm</span>
                <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="37" cy="37" r="35.5" stroke="var(--black-text)" stroke-width="3"></circle>
                  <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="var(--black-text)"></path>
                </svg>
              </button>
            </div>
        </div>
      </div>
      <div class="top_rank">
        <div class="rank_container top_view">
            <h3><span>Xem nhiều nhất</span></h3>
            <ul>
              <% for(var i = 0; i <truyen_top_view.length; i++) { %>
                <li class="rank_item">
                  <a href="/reviews/<%=truyen_top_view[i].id%>">
                    <div class="rank_item_img">
                      <img src="<%=truyen_top_view[i].anh_dai_dien %>" alt="">
                    </div>
                  </a>
                  <div class="rank_item_body">
                    <a href="/reviews/<%=truyen_top_view[i].id%>"><%=truyen_top_view[i].ten_truyen%></a>
                    <div class="">
                      <i class="fa-regular fa-eye"></i>
                      <span><%=truyen_top_view[i].luot_xem%></span>
                    </div>
                  </div>
                </li>
              <%}%>
             
            </ul>
        </div>
        <div class="rank_container top_like">
          <h3><span>Yêu thích nhất</span></h3>
          <ul>
            <% for(var i = 0; i <truyen_top_like.length; i++) { %>
              <li class="rank_item">
                <a href="/reviews/<%=truyen_top_like[i].id%>">
                  <div class="rank_item_img">
                    <img src="<%=truyen_top_like[i].anh_dai_dien %>" alt="">
                  </div>
                </a>
                <div class="rank_item_body">
                  <a href="/reviews/<%=truyen_top_like[i].id%>"><%=truyen_top_like[i].ten_truyen%></a>
                  <div class="">
                    <i class="fa-regular fa-eye"></i>
                    <span><%=truyen_top_like[i].luot_xem%></span>
                  </div>
                </div>
              </li>
            <%}%>
          </ul>
      </div>
      <div class="rank_container new_up">
        <h3><span>Mới cập nhật</span></h3>
        <ul>
          <% for(var i = 0; i <truyen_top_date.length; i++) { %>
            <li class="rank_item">
              <a href="/reviews/<%=truyen_top_date[i].id%>">
                <div class="rank_item_img">
                  <img src="<%=truyen_top_date[i].anh_dai_dien %>" alt="">
                </div>
              </a>
              <div class="rank_item_body">
                <a href="/reviews/<%=truyen_top_date[i].id%>"><%=truyen_top_date[i].ten_truyen%></a>
                <div class="">
                  <i class="fa-regular fa-eye"></i>
                  <span><%=truyen_top_date[i].luot_xem%></span>
                </div>
              </div>
            </li>
          <%}%>
        </ul>
    </div>
      </div>
      
      <div class="top_popular">
        <div class="top_popular_top">
          <div class="top_popular_top_title">
            Truyện đã hoàn thành
          </div>

        </div>
        <div class="novel_wrap">
          <div class="novel">
            <% for(var i = 0; i < truyen_hoanthanh.length; i++) { %>
              <a href="/reviews/<%=truyen_hoanthanh[i].id%>" class="novel_item">
                <div >
                    <div class="novel_item_main">
                        <div class="novel_item_main_img">
                            <img src="<%=truyen_hoanthanh[i].anh_dai_dien %>" alt referrerpolicy="no-referrer">
                        </div>
                        <div class="novel_title" onclick="myFunction()">
                            <div class="novel_name"><%=truyen_hoanthanh[i].ten_truyen %></div>
                            <div class="novel_author">
                                Tác giả : <span><%=truyen_hoanthanh[i].author %></span>
                            </div>
                            <div class="novel_chapter">
                                Chap : <span><%=truyen_hoanthanh[i].so_luong_chuong %></span>
                                <div style="font-size: 13px;"><%=truyen_hoanthanh[i].trang_thai %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
              <%}%>
          </div>
        </div>
      </div>
      <div class="top_popular">
        <div class="top_popular_top">
          <div class="top_popular_top_title">
            Truyện đang cập nhật
          </div>

        </div>
        <div class="novel_wrap">
          <div class="novel">
            <% for(var i = 0; i <truyen_dangra.length; i++) { %>
              <a href="/reviews/<%=truyen_dangra[i].id%>" class="novel_item">
                <div >
                    <div class="novel_item_main">
                        <div class="novel_item_main_img">
                            <img src="<%=truyen_dangra[i].anh_dai_dien %>" alt referrerpolicy="no-referrer">
                        </div>
                        <div class="novel_title" onclick="myFunction()">
                            <div class="novel_name"><%=truyen_dangra[i].ten_truyen %></div>
                            <div class="novel_author">
                                Tác giả : <span><%=truyen_dangra[i].author %></span>
                            </div>
                            <div class="novel_chapter">
                                Chap : <span><%=truyen_dangra[i].so_luong_chuong %></span>
                                <div style="font-size: 13px;"><%=truyen_dangra[i].trang_thai %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
              <%}%>
          </div>
        </div>
      </div>
      
      

    </div>
  </div>
  </div>

  <%- include(footerFile) %>
</body>
<script>
  var listObj = new ej.dropdowns.MultiSelect({
      // set placeholder to MultiSelect input element
      placeholder: "Chọn thể loại truyện",
    },
    "#ulElement"
  );
  var ele = document.querySelectorAll("#container");
  if (ele) {
    ele.forEach((a) => {
      a.style.visibility = "visible";
    });
  }
</script>
<script src="/src/JS/script.js"></script>
<!-- <script src="/src/JS/category-page.js"></script> -->

 
<!-- <script src="/src/JS/scriptlogin.js"></script> -->
<script>
  let url_btn = '/category?skip=0&update_day=1&types=undefined&num_chaps=1&status=1&sort_by=1'
  $(".search_more_btn").on("click", function () {
    window.location.href = url_btn;
  });
$(".search-btn").on("click", function () {
	click_times = 0;

	// disable buttons untill load finish
	$(".search-btn").prop("disabled", true);
	// loading
	$(".search-btn").text("Finding...");
  url_btn = `/category?skip=${0}&update_day=${$(".update_day").val()}&types=${
		listObj.tempValues
	}&num_chaps=${$(".num_chaps").val()}&status=${$(".status").val()}&sort_by=${$(
		".sort_by"
	).val()}`
	url = `/api/advanced_search?skip=${0}&update_day=${$(".update_day").val()}&types=${
		listObj.tempValues
	}&num_chaps=${$(".num_chaps").val()}&status=${$(".status").val()}&sort_by=${$(
		".sort_by"
	).val()}&limit=13`;

	const requestOptions = {
		method: "GET",
		headers: {
			"Content-Type": "application/json",
		},
	};
	fetch(url, requestOptions)
		.then((response) => {
			if (response.ok) {
        	// disable buttons untill load finish
	$(".search-btn").prop("disabled", false);
	// loading
	$(".search-btn").text("Lọc Truyện");
				response
					.json()
					.then((data) => {

						// render all more data
						$(".novel").first().empty();
						data_truyen = data.novel;
						if (data_truyen.length > 0) {
							for (let i =0 ; i< data_truyen.length;i++) {
								$(".novel").first().append(`
                            <a href="/reviews/${data_truyen[i]._id}" class="novel_item">
                                <div>
                                    <div class="novel_item_main">
                                        <div class="novel_item_main_img">
                                            <img src="${data_truyen[i].image}" alt referrerpolicy="no-referrer">
                                        </div>
                                        <div class="novel_title" onclick="myFunction()">
                                            <div class="novel_name">
                                                ${data_truyen[i].name}
                                            </div>
                                            <div class="novel_author">
                                                Tác giả : <span>
                                                    ${data_truyen[i].author}
                                                </span>
                                            </div>
                                            <div class="novel_chapter">
                                                Chap : <span>
                                                    ${data_truyen[i].no_chapters}
                                                </span>
                                                <div style="font-size: 13px;">
                                                    ${data_truyen[i].status}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            `);
							}
						} else {
							$(".novel").append(
								`<span class="no_novel">Không tìm thấy kết quả</span>`
							);
						}
				
						if (data.more_novel) {
								$(".search_more_btn").show();
						} else {
							$(".search_more_btn").hide();
						}
					})
					.catch((error) => {
						console.error("Error parsing JSON:", error);
					});
			} else {
				console.log("error");
			}
		})
		.catch((error) => {
			console.error("Error downloading file:", error);
		});
});
 url_btn = '/category?skip=0&update_day=1&types=undefined&num_chaps=1&status=1&sort_by=1'
  $(".top_view h3").on("click", function () {
    window.location.href = url_btn;
  });
</script>

</body>


</html>