<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/b8977956b3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/src/CSS/Style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/src/CSS/profile.css" />
  <link rel="stylesheet" href="/src/CSS/profile_reposive.css">
  <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>



  <!-- select -->
  <script src="https://cdn.syncfusion.com/ej2/22.1.34/dist/ej2.min.js" type="text/javascript"></script>
  <script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>

  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-base/styles/material.css" rel="stylesheet">
  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-inputs/styles/material.css" rel="stylesheet">
  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-dropdowns/styles/material.css" rel="stylesheet">
  <link href="https://cdn.syncfusion.com/ej2/22.1.34/ej2-buttons/styles/material.css" rel="stylesheet">
  <!-- select -->



  <title>Document</title>
  <script>
    const currentURL = window.location.origin;
  </script>
</head>

<body>
  <%- include(headerFile) %>
  <main>
    <div class="containner_wrap">
      <div class="container">
        <div class="Setting_sidebar-wrapper">
          <h1 class="Setting_sidebar_title">Cài đặt</h1>
          <div class="Setting_sidebar-list">
            <div class="Setting_sidebar-list_item yourinfo">
              <div class="Setting_sidebar-list_item_wrap">
                <i class="fa-solid fa-user"></i> Thông tin cá nhân
              </div>
            </div>
            <div class="Setting_sidebar-list_item yourfollow">
              <div class="Setting_sidebar-list_item_wrap">
                <i class="fa-solid fa-book"></i> Truyện đã Thích
              </div>
            </div>
            <% if (login_way=='normal' ) { %>
            <div class="Setting_sidebar-list_item yourchangepass">
              <div class="Setting_sidebar-list_item_wrap">
                <i class="fa-solid fa-shield-halved"></i> Đổi mật khẩu
              </div>
            </div>
            <%}%>
									<div class="Setting_sidebar-list_item up_novel">
										<div class="Setting_sidebar-list_item_wrap">
											<i class="fa-solid fa-pen-nib"></i> Sáng tác
										</div>
									</div>


									<a href="/" class="Setting_sidebar-list_item logout">
										<div class="Setting_sidebar-list_item_wrap">
											<i class="fa-solid fa-right-from-bracket"></i> Thoát
										</div>
									</a>

						</div>
					</div>
					<div class="Setting_pageWrapper__PM">
						<div class="Setting_pageWrapper page1" id="user" style="display: block">
							<h1 class="Setting_pageWrapper_titlte">Thông tin cá nhân</h1>
							<div class="Setting_pageWrapper_main">
								<!-- updateinfo -->
								<form id="update_info">
									<div class="FieldWrapper_wrapper">
										<div class="avt-wrapper-container">
											<div class="information_name_wrap">
												<h3>Avatar</h3>

												<div class="information_name">
													<div class="dropdown">
														<button class="dropdown-trigger" type="button">
															<div class="dropdown-content">
																<label>Choose image</label>
																<input id="file-upload" type="file"
																	style="display: none;" accept=".jpg, .png, ,jpeg" />
															</div>
															<div class="drop-zone" ondrop="drop(event)"
																ondragover="allowDrop(event)">
																<p>Drop / Choose Avatar</p>
															</div>
															<img class="your-avt" src="<%= avt %>" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="info-wrapper-container">
      <div class="information_name_wrap">
        <h3>Họ tên</h3>
        <div class="information_name">
          <input class="profile_input" type="text" id="fullname" value="<%= username %>" />
          <span class="form-message-info"></span>
        </div>
      </div>

	<%if(admin!=100){%>
		<div class="information_name_wrap">
			<h3>Tên sáng tác (tác giả)</h3>
			<div class="information_name">
			<input class="profile_input" type="text" id="author_name" value="<%= author_name %>" />
			<span class="form-message-info"></span>
			</div>
		</div>
	<%}%>

      <div class="information_name_wrap">
        <h3>Email</h3>
        <% if (login_way === 'normal') {%>
        <div class="information_name">
          <input class="profile_input" type="email" id="email" value="<%= email %>" />
          <span class="form-message-info"></span>
        </div>
        <% } else { %>
        <div class="information_name">
          <input class="profile_input" type="email" id="email" value="<%= email %>" readonly />
          <span class="form-message-info"></span>
        </div>
        <% } %>

      </div>

      <div class="information_name_wrap">
        <h3>Giới tính</h3>
        <div class="">
          <% if (sex===1) { %>
          <div class="sex_container">
            <form>
              <label>
                <input type="radio" name="radio" id="nam" value="1" checked>
                <span>Nam</span>
              </label>
              <label>
                <input type="radio" name="radio" id="nu" value="0">
                <span>Nữ</span>
              </label>
              <label>
                <input type="radio" name="radio" id="o" value="2">
                <span>Khac</span>
              </label>
            </form>
          </div>

          <% } else if (sex===0){ %>
          <div class="sex_container">
            <form>
              <label>
                <input type="radio" name="radio" id="nam" value="1">
                <span>Nam</span>
              </label>
              <label>
                <input type="radio" name="radio" id="nu" value="0" checked>
                <span>Nữ</span>
              </label>
              <label>
                <input type="radio" name="radio" id="o" value="2">
                <span>Khac</span>
              </label>
            </form>
          </div>

          <% } else {%>
          <div class="sex_container">
            <form>
              <label>
                <input type="radio" name="radio" id="nam" value="1">
                <span>Nam</span>
              </label>
              <label>
                <input type="radio" name="radio" id="nu" value="0">
                <span>Nữ</span>
              </label>
              <label>
                <input type="radio" name="radio" id="o" value="2" checked>
                <span>Khac</span>
              </label>
            </form>
          </div>

          <% } %>
        </div>


        <div class="information_name" style="display: flex; flex-direction: row;">
          <div class="sex_wrapper">
            <div class="sex_random">Nam</div>
          </div>
          <button id="button_file" class="button_random">
            Random
          </button>
        </div>
      </div>
      <div class="information_name_wrap">
        <button id="Save_btn" type="submit" class="Save_btn">
          Lưu
        </button>
      </div>


    </div>
    </div>
    </form>

    </div>
    </div>
    <div class="Setting_pageWrapper page2" id="novel_following">
      <h2>Truyện yêu thích</h2>
      <div class="followed-container">
        <% if (like_novel.length > 10) { %>
        <!-- searchbar -->
        <div class="header_search">
          <div class="header_search_wrap">
            <form role="search">
              <div class="header_search_input">
                <input type="text" placeholder="Tìm kiếm" />
              </div>
            </form>
            <div class="header_search_logo">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </div>
        <% } %>
        <% for (var i = 0; i < like_novel.length; i++) { %>
        <div class="followed-item" id="<%=like_novel[i]%>">

          <div class="name-container">

            <div class="name-container_img">
              <img src="<%-like_novel_list[i].image%>" alt="" class="avt" />
            </div>

            <div class="name-novel">
              <div class="name-novel-top">
                <h2><a href="<%-'/reviews/'+like_novel[i]%>"><%-like_novel_list[i].name%></a></h2>
                <button class="delete-follow delete_f"><i class="fa-solid fa-paperclip"></i></button>
              </div>
              <p>Tác giả: <%-like_novel_list[i].author%></ p>
              <p>
                <%-like_novel_list[i].summary%>
              </p>
              <div class="last-time-container">
                <div class="chapter">
                  Chương đã đọc:
                  <a href="<%-'/reading/'+like_novel[i]+'/'+(like_novel_list[i].curr_chap)%>">Chap
                    <%-like_novel_list[i].curr_chap%>
                  </a> /
                  <a href="<%-'/reading/'+like_novel[i]+'/'+(like_novel_list[i].no_chapters)%>">Chap
                    <%-like_novel_list[i].no_chapters%>
                  </a>
                </div>
                <div class="time"><%-like_novel_list[i].update_date%> trước</div>
              </div>
            </div>
          </div>
        </div>

        <% } %>


      </div>
    </div>

    <div class="Setting_pageWrapper page4" id="change_pass">
      <h2>Đổi Mật Khẩu</h2>

      <form id="change-pass">
        <p>Mật Khẩu Cũ</p>

        <div class="group11">
          <input class="old-password pass" placeholder="nhập mật khẩu bạn đã quên" type="text" />
          <span class="form-message1"></span>
        </div>

        <p>Mật Khẩu Mới</p>

        <div class="group11">
          <input class="new-password pass" placeholder="nhập mật khẩu mới" type="text" />
          <span class="form-message1"></span>
        </div>



        <p>Xác nhận mật khẩu mới</p>

        <div class="group11">
          <input class="new-password-again pass" placeholder="nhập lại mật khẩu mới" type="text" />
          <span class="form-message1"></span>
        </div>


        <button type="submit" class="change-pass-btn">ĐỔI MẬT KHẨU</button>
      </form>

    </div>

    <div class="Setting_pageWrapper page5" id='my_novel'>

      <%if(role==2){%>
        <h4 style="color: red;">TÀI KHOẢN CỦA BẠN ĐANG BỊ HẠNG CHẾ DO VI PHẠM QUY ĐỊNH WEB XIN LIÊN HỆ VỚI QUẢN TRỊ VIÊN ĐỂ BIẾT THÊM THÔNG TIN CHI TIẾT </h4>
      <% } else {%>
        <div class="page5_home page5_composed">
              <div class="page_5_title">
      
                <h2 class="my_novel_title"><i class="fa-solid fa-book-open-cover"></i> Truyện của
                  tôi</h2>
      
                <div class="add_new_box">
                  <div class="normal_add">
                    <button class="add_new">+ THÊM TRUYỆN</button>
                  </div>
                  <div class="quick_add">
                    <button class="add_new">+ THÊM TRUYỆN NHANH</button>
                    <div class="novel_conntroller_btn upload_quick_file">
                      <div class="head_b">
                        <pre class="file-content"></pre>
                        <input type="file" class="file-input" style="display:none;" accept=".txt, .docx" />
                        <button class="add_new edit_btn">
                          <i class="fa-solid fa-upload"></i>
                        </button>
                      </div>
                      <button class="add_new download_btn">
                        <i class="fa-solid fa-download"></i>
                      </button>
                    </div>
                  </div>
                </div>
      
              </div>
        <% if (novels.length > 10) { %>
          <!-- searchbar -->
          <div class="header_search">
            <div class="header_search_wrap">
              <form role="search">
                <div class="header_search_input">
                  <input type="text" placeholder="Tìm kiếm" />
                </div>
              </form>
              <div class="header_search_logo">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </div>
          <% } %>
          <!-- novel list -->
          <div class="page5_home_main">
            <!-- <%=novels %> -->
            <% for (let novel of novels) { %>
              
            <%if(novel.ban==1){%>
              <!-- my novel item -->
              <div  class="block">
                <div style="color: red; margin:0">TRUYỆN NÀY CỦA BẠN HIỆN TẠI ĐANG BỊ KHOÁ DO ADMIN VUI LÒNG CHỈNH SỬA HOẶC LIÊN HỆ VỚI QUẢN TRỊ VIÊN ĐỂ ĐƯỢC HỖ TRỢ</div>
                <div style="border:2px red solid" class="page5_home_main_item">
                  <div class="page5_home_main_logo">
                    <img src="<%= novel.image %>" alt="<%= novel.name %>">
                  </div>
                  <div class="page5_home_info">
                    <div class="page5_home_info_top">
                      <div class="page5_home_info_name">
                        <%= novel.name %>
                      </div>
                      <div class="page5_home_info_status">
                        <%= novel.status %>
                      </div>
                    </div>
                    <div class="page5_home_info_date">
                      Cập nhật <span>
                        <%= novel.update_time %>
                      </span>
                    </div>
                    <%if(admin==100){%>
                      <div class="page5_home_info_author">
                        Tác giả <span>
                          <%= novel.author %>
                        </span>
                      </div>
                    <%}%>
    
                    <div class="page5_home_info_wrap">
                      <div class="page5_home_info_wrap_item">
                        <div class="page5_home_info_wrap_item_title">
                          <i class="fa-solid fa-list-ul"></i>
                          <span>Chương:</span>
                        </div>
                        <div class="page5_home_info_wrap_item_value">
                          <%= novel.no_chapters %>
                        </div>
                      </div>
                      <div class="page5_home_info_wrap_item">
                        <div class="page5_home_info_wrap_item_title">
                          <i class="fa-regular fa-eye"></i>
                          <span>Lượt đọc:</span>
                        </div>
                        <div class="page5_home_info_wrap_item_value">
                          <%= novel.views %>
                        </div>
                      </div>
                      <div class="page5_home_info_wrap_item">
                        <div class="page5_home_info_wrap_item_title">
                          <i class="fa-regular fa-heart"></i>
                          <span>Lượt thích:</span>
                        </div>
                        <div class="page5_home_info_wrap_item_value">
                          <%= novel.likes %>
                        </div>
                      </div>
                      <div class="page5_home_info_wrap_item">
                        <div class="page5_home_info_wrap_item_title">
                          <i class="fa-regular fa-star"></i>
                          <span>Đánh giá</span>
                        </div>
                        <div class="page5_home_info_wrap_item_value">
                          1
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="item_btn_gr" id="<%= novel.id %>">
    
                    <div class="novel_conntroller_btn">
                      <button class="update_current_novel controller_btn">Chỉnh
                        Sửa</button>
                      <button class="delete_chapter controller_btn">Xóa</button>
                    </div>
    
                    <div class="add_novel">
                      <button class="add_novel_more_chap controller_btn">+ Thêm
                        chương</button>
                      <button class="showlist_novel controller_btn">Danh sách
                        chương</button>
                    </div>
    
                  </div>
                </div>
              </div>
              <!-- my novel item -->
              <% } else{%>
                <!-- my novel item -->
              <div class="page5_home_main_item">
                <div class="page5_home_main_logo">
                  <img src="<%= novel.image %>" alt="<%= novel.name %>">
                </div>
                <div class="page5_home_info">
                  <div class="page5_home_info_top">
                    <div class="page5_home_info_name">
                      <%= novel.name %>
                    </div>
                    <div class="page5_home_info_status">
                      <%= novel.status %>
                    </div>
                  </div>
                  <div class="page5_home_info_date">
                    Cập nhật <span>
                      <%= novel.update_time %>
                    </span>
                  </div>
                  <%if(admin==100){%>
                  <div class="page5_home_info_author">
                    Tác giả <span>
                      <%= novel.author %>
                    </span>
                  </div>
                  <%}%>

                  <div class="page5_home_info_wrap">
                    <div class="page5_home_info_wrap_item">
                      <div class="page5_home_info_wrap_item_title">
                        <i class="fa-solid fa-list-ul"></i>
                        <span>Chương:</span>
                      </div>
                      <div class="page5_home_info_wrap_item_value">
                        <%= novel.no_chapters %>
                      </div>
                    </div>
                    <div class="page5_home_info_wrap_item">
                      <div class="page5_home_info_wrap_item_title">
                        <i class="fa-regular fa-eye"></i>
                        <span>Lượt đọc:</span>
                      </div>
                      <div class="page5_home_info_wrap_item_value">
                        <%= novel.views %>
                      </div>
                    </div>
                    <div class="page5_home_info_wrap_item">
                      <div class="page5_home_info_wrap_item_title">
                        <i class="fa-regular fa-heart"></i>
                        <span>Lượt thích:</span>
                      </div>
                      <div class="page5_home_info_wrap_item_value">
                        <%= novel.likes %>
                      </div>
                    </div>
                    <div class="page5_home_info_wrap_item">
                      <div class="page5_home_info_wrap_item_title">
                        <i class="fa-regular fa-star"></i>
                        <span>Đánh giá</span>
                      </div>
                      <div class="page5_home_info_wrap_item_value">
                        1
                      </div>
                    </div>
                  </div>
                </div>

                <div class="item_btn_gr" id="<%= novel.id %>">

                  <div class="novel_conntroller_btn">
                    <button class="update_current_novel controller_btn">Chỉnh
                      Sửa</button>
                    <button class="delete_chapter controller_btn">Xóa</button>
                  </div>

                  <div class="add_novel">
                    <button class="add_novel_more_chap controller_btn">+ Thêm
                      chương</button>
                    <button class="showlist_novel controller_btn">Danh sách
                      chương</button>
                  </div>

                </div>
              </div>
              <!-- my novel item -->
              <% } %>
            <% } %>

          </div>

        </div>
      <%}%>

      <div class="page5_a page5_composed" id="add_novel">
        <div class="range" style="--p:0">
          <div class="range__label"></div>

          <img class="naruto" src="https://orig00.deviantart.net/455e/f/2017/139/6/5/webp_net_gifmaker__1__by_andri10-db9py2k.gif" alt="">
        </div>
        <div class="page5_info page5_a_up" id="info_novel_add">
          <div class="page5_info_img">
            <div class="information_name">
              <div class="dropdown">
                <button class="dropdown-trigger" type="button">
                  <div class="dropdown-content">
                    <label>Choose image</label>
                    <input id="file-upload" type="file" style="display: none;" accept=".jpg, .png, ,jpeg" />
                  </div>
                  <div class="drop-zone" ondrop="drop5(event)" ondragover="allowDrop(event)">
                    <p>Drop / Choose Avatar</p>
                  </div>
                  <img class="your-avt" src="https://cdn.sforum.vn/sforum/wp-content/uploads/2023/08/hinh-nen-cute-co-chu-47.jpg" alt="" />
                </button>
              </div>
            </div>
          </div>
          <div class="page5_info_main">

            <div class="info-wrapper-container">
              <div class="information_name_wrap">
                <h3>Tên truyện</h3>
                <div class="information_name">
                  <input class="profile_input n_name" type="text" required id="name_novel" placeholder="Nhập tên truyện" />
                </div>
              </div>

              <div class="information_name_wrap">
                <h3>Tác giả</h3>
                <div class="information_name">
                    <%if(admin!=100){%>
                    	<input class="profile_input author_name" type="text" required id="fullname" value="<%= author_name %>" readonly />
					<% } else { %>
                    	<input class="profile_input author_name" type="text" required id="fullname" value="Nguồn sưu tầm"/>
					<% } %>
                </div>
              </div>

              <div class="">
                <div class="information_name_wrap">
                  <h3>Trạng thái</h3>
                  <div class="information_name novel_status">
                    <select>
                      <option value="0">Đang ra</option>
                      <option value="1">Hoàn thành</option>
                      <option value="2">Tạm dừng</option>
                    </select>
                  </div>
                </div>

                <div class="information_name_wrap">
                  <!-- tag -->
                  <h3>Thể loại</h3>
                  <div id="container">
                    <ul id="ulElement">
                      <li>Action</li>
                      <li>Adventure</li>
                      <li>Comedy</li>
                      <li>Drama</li>
                      <li>Fantasy</li>
                      <li>Horror</li>
                      <li>Mystery</li>
                      <li>Romance</li>
                      <li>Sci-Fi</li>
                      <li>Thriller</li>
                      <li>Animation</li>
                      <li>Crime</li>
                      <li>Family</li>
                      <li>Historical</li>
                      <li>War</li> 
                    </ul>
                  </div>
                </div>
              </div>

              <div class="information_name_wrap">
                <h3>Giới thiệu truyện</h3>
                <div class="information_name" style="display:flex;flex-direction: column;">
                  <textarea class="profile_input novel_descript" id="fullname" placeholder="Nhập nôi dung giới thiệu truyện của bạn"></textarea>
                </div>
              </div>
              <div class="page5_info_main_btn">
                <button class="close_btn">Hủy</button>
                <button class="next_btn"><i class="fa-solid fa-chevron-right"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="page5_chap page5_a_up" id="add_chap">

          <div class="page5_info_main">
            <div class="info-wrapper-container">
              <div class="information_name_wrap">
                <h3>Thứ tự chương</h3>
                <div class="information_name">
                  <input class="profile_input chap_num" type="number" required id="name_novel" value="1" readonly />
                </div>
              </div>

              <div class="information_name_wrap">
                <h3>Tên chương</h3>
                <div class="information_name">
                  <input class="profile_input chap_name" type="text" required id="fullname" placeholder="Nhập tên chương" />
                </div>
              </div>

              <div class="information_name_wrap">
                <div class="head">
                  <h3>Nội Dung</h3>
                  <pre class="file-content" style="margin: 1rem 20px;"></pre>
                  <input type="file" class="file-input" style="display:none;" accept=".txt, .docx" />
                  <button class="upfile">
                    <i class="fa-solid fa-upload"></i>
                  </button>
                </div>
              </div>

              <p style="text-align: center;">[------------------------------------ 🦊🍜🍥
                ------------------------------------]</p>
            </div>
          </div>
          <div class="page5_info_main_btn">
            <button class="back_btn"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="close_btn">Hủy</button>
            <button class="more_chap_btn">Thêm chương</button>
            <button class="next_btn"><i class="fa-solid fa-chevron-right"></i></button>
          </div>

        </div>
        <div class="page5_post page5_a_up" id="post_novel">
          <span>Bạn đã đăng đủ 1 chương truyện
            <br>
            Bạn có thể Đăng truyện ngay bây giờ hoặc tiếp tục thêm Chương</span>
          <span>Khi tiến hành đăng truyện, bạn đã chấp nhận các chính sách và quy định của
            WTFNovel về <a href="">
              Quy
              định Nội dung
              và Chính sách chia sẻ quyền lợi</a>
          </span>
          <div class="page5_post_check_wrap">
            <div class="page5_post_check">
              <i id="Agree" class="fa-regular fa-square"></i>
            </div>
            <span>Tôi đồng ý với Quy định Nội dung và Chính sách quyền lợi của
              WtfNovel.</span>
          </div>
          <div class="page5_info_main_btn">
            <button class="back_btn"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="close_btn">Hủy</button>
            <button class="post_btn"><i class="fa-solid fa-arrow-up-from-bracket"></i>
            </button>
          </div>
        </div>
        <div class="page5_last page5_a_up" id="congratulation">
          <div class="card">
            <img class="thank1" src="https://fotografias-neox.atresmedia.com/clipping/cmsimages01/2022/03/04/6F3E2E33-8AAF-4607-8B3E-80261F00FB86/naruto_98.jpg?crop=1920,1080,x0,y0&width=1900&height=1069&optimize=high&format=webply">
            <img src="https://media.discordapp.net/attachments/1119221555566751754/1132233219215990844/hinh-anh-naruto-ngau-nhat.png?width=377&height=671" alt="" class="thank2">
            <div class="card__content">
              <p class="card__title">Thank kiu em yêu!!!</p>
              <p class="card__description">Chúng tôi xin gửi lời cảm ơn chân thành đến các
                nhà
                văn đã đăng tải
                tiểu
                thuyết của mình trên trang web của chúng tôi. Bằng cách chia sẻ tác phẩm
                văn
                học của mình, các bạn
                đã tạo ra một không gian đầy phong phú và đa dạng cho cộng đồng đọc giả.
                Chúng tôi biết rằng việc
                viết và chia sẻ là một quá trình đòi hỏi công sức và tâm huyết, và chúng
                tôi
                đánh giá cao sự đóng
                góp và sự kiên nhẫn của các bạn. Cảm ơn bạn đã làm cho trang web của
                chúng
                tôi trở thành một điểm
                đến tuyệt vời cho những người yêu thích tiểu thuyết của người Việt.</p>
            </div>
          </div>
          <div class="page5_last_btn">
            Hoàn thành
          </div>
        </div>
      </div>

      <div class="page5_b page5_composed" id="list_chaper">
        <div class="page5_list_chapter_Author">
          <div class="list_chapter_head">
            <h2 class="list_title">
              <%= edit_name %>
            </h2>

          </div>
          <div class="list_chapter_body">
            <% for (var i=0; i < edit_name_chaps.length; i++) { %>
            <div class="my_novel_item" id="<%= edit_chap_ids[i] %>">
              <div class="name_chapter" style="display: flex;">
                <div class="chapter" style="
												display: flex;
												align-items: center;
												justify-content: center;">
                  <%= edit_name_chaps[i].split(":")[0].slice(0, 6) %>
                </div>
                <span>&emsp;</span>
                <input type="text" class="profile_input n_num" style="width: 10%;" value="<%= edit_name_chaps[i].split(/:(.*)/s)[0].slice(6).trim() %>" readonly />
                <div style="
												display: flex;
												align-items: center;
												justify-content: center;">
                  &emsp;:&emsp;
                </div>
                <input type="text" class="profile_input n_name" value="<%= edit_name_chaps[i].split(/:(.*)/s)[1].trim() %>">
                <a id='author_see' href=""><i class="fa-solid fa-book"></i></a>
              </div>
              <div class="btn_gritem">
                <div class="novel_conntroller_btn">
                  <div class="head_b">
                    <pre class="file-content" ></pre>
                    <input type="file" class="file-input" style="display:none;" accept=".txt, .docx" />
                    <button class="upfile edit_btn">
                      <i class="fa-solid fa-upload"></i>
                    </button>
                  </div>
                  <button class="upfile download_btn">
                    <i class="fa-solid fa-download"></i>
                  </button>

                  <button class="upfile remove_chap">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <div class="page5_info_main_btn">
            <button class="close_btn" id="accept_drop">Hủy</button>
            <button class="next_btn" id="accept_change">
              <i class="fa-solid fa-check"></i>
            </button>
          </div>
        </div>
      </div>



      <div class="page5_c page5_composed">

        <div class="page5_info page5_a_up copy" id="info_novel_add">
          <h2>Câp Nhật Thông Tin</h2>
          <div id="media">
            <div class="page5_info_img">
              <div class="information_name">
                <div class="dropdown">
                  <button class="dropdown-trigger" type="button">
                    <div class="dropdown-content">
                      <label>Choose image</label>
                      <input id="file-upload" type="file" style="display: none" />
                    </div>
                    <div class="drop-zone" ondrop="drop(event)" ondragover="allowDrop(event)">
                      <p>Drop / Choose Avatar</p>
                    </div>
                    <img class="your-avt" src="<%=edit_img%>" alt="" />
                  </button>
                </div>
              </div>
            </div>
            <div class="page5_info_main">

              <div class="info-wrapper-container">
                <div class="information_name_wrap">
                  <h3>Tên truyện</h3>
                  <div class="information_name">
                    <input class="profile_input n_name" type="text" required id="name_novel" placeholder="Nhập tên truyện" value="<%=edit_name%>" />
                  </div>
                </div>

                <div class="information_name_wrap">
                  <h3>Tác giả</h3>
                  <div class="information_name">
					        <%if(admin!=100){%>
                    	<input class="profile_input author_name" type="text" required id="fullname" value="<%= author_name %>" readonly />
				        	<% } else { %>
                    	<input class="profile_input author_name" type="text" required id="fullname" value="<%= edit_auth %>"/>
				        	<% } %>
                  </div>
                </div>

                <div class="">
                  <div class="information_name_wrap">
                    <h3>Trạng thái</h3>
                    <div class="information_name novel_status">
                      <%if (edit_status=='Đang ra' ) {%>
                      <select>
                        <option value="0" selected>Đang ra</option>
                        <option value="1">Hoàn thành</option>
                        <option value="2">Tạm dừng</option>
                      </select>
                      <%} else if (edit_status=='Hoàn thành' ) {%>
                      <select>
                        <option value="0">Đang ra</option>
                        <option value="1" selected>Hoàn thành</option>
                        <option value="2">Tạm dừng</option>
                      </select>
                      <%} else if (edit_status=='Tạm dừng' ) {%>
                      <select>
                        <option value="0">Đang ra</option>
                        <option value="1">Hoàn thành</option>
                        <option value="2" selected>Tạm dừng</option>
                      </select>
                      <%}%>

						</div>
					</div>

					<div class="information_name_wrap">
						<!-- tag -->
						<h3>Thể loại</h3>
						<div id="container">
							<ul id="ulElement2">
								<li>Action</li>
                                <li>Adventure</li>
                                <li>Comedy</li>
                                <li>Drama</li>
                                <li>Fantasy</li>
                                <li>Horror</li>
                                <li>Mystery</li>
                                <li>Romance</li>
                                <li>Sci-Fi</li>
                                <li>Thriller</li>
                                <li>Animation</li>
                                <li>Crime</li>
                                <li>Family</li>
                                <li>Historical</li>
                                <li>War</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="information_name_wrap">
					<h3>Giới thiệu truyện</h3>
					<div class="information_name"
						style="display:flex;flex-direction: column;">
						<textarea class="profile_input novel_descript" id="fullname"
							placeholder="Nhập nôi dung giới thiệu truyện của bạn"><%=edit_review%></textarea>
                    </div>
                  </div>
                  <div class="page5_info_main_btn">
                    <button class="close_btn" id="accept_drop">Hủy</button>
                    <button class="next_btn" id="accept_change"><i class="fa-solid fa-check"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- add_chap -->
        <div class="page5_d page5_composed">
          <div class="page5_chap page5_a_up" id="add_chap">
            <div class="page5_info_main">
              <div class="info-wrapper-container">
                <div class="information_name_wrap">
                  <h3>Thứ tự chương</h3>
                  <div class="information_name">

                    <input class="profile_input chap_num" type="text" required id="name_novel" value="<%= edit_no_chaps + 1 %>" readonly />
                  </div>
                </div>
                <div class="information_name_wrap">
                  <h3>Tên chương</h3>
                  <div class="information_name">
                    <input class="profile_input chap_name" type="text" required id="fullname" placeholder="Nhập tên chương" />
                  </div>
                </div>

                <div class="information_name_wrap">
                  <div class="head">
                    <h3>Nội Dung</h3>
                    <pre class="file-content" style="margin: 1rem 20px;"></pre>
                    <input type="file" class="file-input" style="display:none;" accept=".txt, .docx" />
                    <button class="upfile">
                      <i class="fa-solid fa-upload"></i>
                    </button>
                  </div>
                </div>

                <p style="text-align: center;">[------------------------------------
                  🦊🍜🍥-------------------------------------]</p>
              </div>
            </div>
            <div class="page5_info_main_btn">
              <button class="close_btn">Hủy</button>
              <button class="more_chap_btn">Thêm chương</button>
              <button class="post_btn">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
              </button>
            </div>

          </div>
        </div>
        <!-- add_chap -->
      </div>
    </div>
    </div>
    </div>
    </div>
  </main>
  <!-- Remove 'active' class, this is just to show in Codepen thumbnail -->

  <%- include(footerFile) %>
  <script>
    var ele = document.querySelectorAll('#container');
    if (ele) {
      ele.forEach(a => {
        a.style.visibility = "visible";
      });
    }
  </script>
  <script>
    // variable
    let author_name_check = document.querySelector("#author_name") ? document.querySelector("#author_name").value : "Nguồn sưu tầm";
  </script>

  <script src="/src/JS/profile.js"></script>
  <!-- <script src="/src/JS/notify.js"></script> -->
</body>


<script src="/src/JS/link.js"></script>

<!-- <script src="/src/JS/scriptlogin.js"></script> -->
<script>
  Validator({
    form: "#change-pass",
    formGroupSelector: ".group11",
    errorSelector: ".form-message1",
    rules: [
      Validator.isRequired(".old-password", "Vui lòng nhập nội dung này"),
      Validator.isRequired(".new-password-again", "Vui lòng nhập nội dung này"),
      Validator.isRequired(".new-password", "Vui lòng nhập nội dung này"),
      Validator.minLength(".new-password", 6),
      Validator.minLength(".new-password-again", 6),
      Validator.isConfirmed('.new-password-again', function() {
        return document.querySelector('.new-password').value;
      }, 'Mật khẩu nhập lại không chính xác')

    ],
    onSubmit: async function() {

      console.log('cut di bn oi');
      //gửi request tới csdl server
      const url = `/api/changepass`; // URL của máy chủ mục tiêu
      const postData = JSON.stringify({
        // thông tin đăng kýýý
        'status': 'Change Pass',
        'Old-Password': `${document.querySelector('.old-password').value}`,
        'new-Password': `${document.querySelector('.new-password').value}`,
        'new-Password-again': `${document.querySelector('.new-password-again').value}`
      });


      //BM  _______
      const requestOptions = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: postData
      };


      try {
        const response = await fetch(url, requestOptions)
        // taì khoan hơp lệ 
        if (response.status == '200') {
          notify('Thành công', 'Chúc mừng bạn đã đổi thành công mật khẩu!');
        } else if (response.status == '403') {
          notify('Lỗi', 'Có phải bạn đã quên mật khẩu đã quên không ???');
        } else if (response.status == '404') {
          notify('Lỗi', 'Anh bạn à !!!');
        } else {
          notify('Lỗi', 'Máy chủ đang có chút trục trặc !!!');
        }
      } catch (error) {
        console.log('Error:', error);

      }

    },
  });


  Validator({
    form: "#update_info",
    formGroupSelector: ".information_name",
    errorSelector: ".form-message-info",
    rules: [
      Validator.isEmail("#email", "Vui Lòng Nhập Đúng Định Dạng Email"),
      Validator.isRequired("#fullname", "Vui lòng nhập nội dung này"),
      Validator.isRequired("#author_name", "Vui lòng nhập nội dung này"),
    ],

  });
</script>

<script>
  // upload novel page 1:
  if (sessionStorage.getItem("novel_name")) {
    novel_name.value = sessionStorage.getItem("novel_name")
  }
  if (sessionStorage.getItem("author_name")) {
    author_name.value = sessionStorage.getItem("author_name")
  }
  if (sessionStorage.getItem("novel_name")) {
    novel_descript.value = sessionStorage.getItem("novel_descript")
  }
  if (sessionStorage.getItem("novel_status")) {
    var options = novel_status.options;
    for (var i = 0; i < options.length; i++) {
      if (options[i].text == sessionStorage.getItem("novel_status")) {
        options[i].selected = true;
        break;
      }
    }
  }

  if (sessionStorage.getItem("novel_types")) {
    var listObj = new ej.dropdowns.MultiSelect({
      // set placeholder to MultiSelect input element
      placeholder: "Chọn thể loại truyện",
      value: sessionStorage.getItem("novel_types").split(",")
    }, '#ulElement');
  } else {
    var listObj = new ej.dropdowns.MultiSelect({
      // set placeholder to MultiSelect input element
      placeholder: "Chọn thể loại truyện"
    }, '#ulElement');
  }

  <%if (edit_tag) {%>
  // Gắn đối tượng vào phần tử có id là 'ulElement2'
  const listObj2 = new ej.dropdowns.MultiSelect({
    // Các tùy chọn khác cho MultiSelect
    placeholder: "Chọn thể loại truyện",
    value: <%-JSON.stringify(edit_tag)%>

  }, '#ulElement2');
  <%} else {%>
  var listObj2 = new ej.dropdowns.MultiSelect({
    // set placeholder to MultiSelect input element
    placeholder: "Chọn thể loại truyện"
  }, '#ulElement2');
  <%}%>


  var ele = document.querySelectorAll('#container');
	if (ele) {
		ele.forEach(a => {
			a.style.visibility = "visible";
		});
	}
    // upload novel page 2:
</script>

</html>