<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/b8977956b3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/src/CSS/Style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/src/CSS/reviews.css">
  <link rel="stylesheet" href="/src/CSS/review_reposive.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <title>Review</title>
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="/src/JS/link.js"></script>
  <%- include(headerFile) %>

  <div class="body_wrap">
  </div>
  <main>
    <div class="current-Titile">
      <div class="current-Titile_wrap">
        <div class="current-Titile_main">
          <div class="current-Titile_interact">
            <div class="Titile_interact_like">
              <i class="fa-solid fa-thumbs-up"></i>
              Thích
              <span>1</span>
            </div>
            <div class="Titile_interact_share">
              Chia sẻ
            </div>
            <!-- <div id="full-stars-example">
              <div class="rating-group">
                <input class="rating__input rating__input--none" name="rating" id="rating-none" value="0" type="radio">
                <label aria-label="1 star" class="rating__label" for="rating-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-1" value="1" type="radio">
                <label aria-label="2 stars" class="rating__label" for="rating-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-2" value="2" type="radio">
                <label aria-label="3 stars" class="rating__label" for="rating-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-3" value="3" type="radio">
                <label aria-label="4 stars" class="rating__label" for="rating-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-4" value="4" type="radio">
                <label aria-label="5 stars" class="rating__label" for="rating-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                <input class="rating__input" name="rating" id="rating-5" value="5" type="radio" checked>
              </div>
            </div> -->
          </div>
          <div class="Titile_interact_siu">
            <div class="current_left">

              <img src="<%= image %>" alt="" referrerpolicy="no-referrer" class="novel-avt">
            </div>

            <div class="title-gr">

              <span class="current-novel-name">
                <%= name %>
              </span>
              <div class="current-novel-actor">
                <%= author %>
              </div>

              <div class="last-time-update">Tình trạng: <span>
                  <%= status %>
                </span></div>

              <ul class="current-category-list">
                <% genres.forEach(function(genre) { %>
                <li id="<%= genre %>" class="current-category-list_item">
                  <a href="/category?skip=0&update_day=1&types=<%= genre %>&num_chaps=1&status=1&sort_by=1" target="_blank">
                    <div class="btn btn1">
                      <h4>
                        <%= genre %>
                      </h4>
                    </div>
                  </a>
                </li>
                <% }); %>
              </ul>
              <div class="button-group main_operation">

                <div class="wrapper">
                  <a class="button-efect first_chap" href=""><span>Chap 1</span></a>
                </div>
                <% if(liked && curr_chap) { %>
                  <div class="wrapper">
                    <a class="button-efect curr_chap" href="/reading/<%=idtruyen%>/<%=curr_chap%>"><span>Đọc tiếp</span></a>
                  </div>
                <% } else { %>
                  <div class="wrapper">
                    <a class="button-efect curr_chap curr_chap_local" href="/reading/<%=idtruyen%>/"><span>Đọc tiếp</span></a>
                  </div>
                <% } %>
                <div class="wrapper">
                  <a class="button-efect lasted_chap" href=""><span>Mới
                      nhất</span></a>
                </div>

                <div class="wrapper">
                  <a class="button-efect random_chap" href=""><span>Ngẫu nhiên</span></a>
                </div>

              </div>


              <div class="function">
                <div class="function_item function_item_folow ">
                  <% if (!liked) { %>
                  <i class="fa-regular fa-heart"></i>
                  <span>Like</span>
                  <% } else { %>
                  <i class="fa-solid fa-heart"></i>
                  <span>UnLike</span>
                  <% } %>

                </div>

                <div class="function_item function_item_star">
                  <i class="fa-regular fa-star"></i>
                  <span>Đánh giá</span>
                </div>
                <div class="function_item function_item_share ">
                  <i class="fa-solid fa-share-nodes"></i>
                  <span>Chia sẻ</span>
                </div>
              </div>
            </div>
          </div>
          <div class="summary">
            <button class="summary-btn" onclick="toggleSummary()"><i class="fa-solid fa-bars"></i>
              HIỆN TÓM TẮT </button>
            <div style="display: none;" class="summary-Content">
              <%= summary %>
            </div>
          </div>
          <div class="Titile_info">
            <div class="Titile_info_item">
              <div class="Titile_info_item_title">
                Lần cuối cập nhật
              </div>
              <div id="last_update_time" class="Titile_info_item_value ">
                <%= update_date %>
              </div>
            </div>
            <div class="Titile_info_item">
              <div class="Titile_info_item_title">
                Lượt thích
              </div>
              <div id="number_of_likes" class="Titile_info_item_value">
                <%= likes %>
              </div>
            </div>
            <div class="Titile_info_item">
              <div class="Titile_info_item_title">
                Lượt xem
              </div>
              <div id="number_of_view" class="Titile_info_item_value">
                <%= views %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="current-body">
      <div class="summary-listchap">
        <h2>Danh Sách Chương</h2>
        <div class="settings">
          <div class="form-input">
            <label for="pages">Chapter muốn tớ (gần đúng):</label>
            <input type="number" min="1" id="pages" value="1" />
          </div>
          <div class="form-input">
            <label for="curpage">Trang muốn tới:</label>
            <input type="number" min="1" id="curpage" value="1" />
          </div>
        </div>
        <div class="listchap">



        </div>

        <!-- <h1>Dynamic Pagination</h1> -->
        <div class="page-container">
          <button class="first-page" disabled>
            <i class="fas fa-angle-double-left"></i>
          </button>
          <button class="prev-page" disabled>
            <i class="fas fa-angle-left"></i>
          </button>
          <div id="pagination"></div>
          <button class="next-page">
            <i class="fas fa-angle-right"></i>
          </button>
          <button class="last-page">
            <i class="fas fa-angle-double-right"></i>
          </button>
        </div>


      </div>

      <div class="Similar novels">
        <% if(maybeulike.length>0){%>
        <div class="Similar_title">Có thể bạn sẽ thích</div>
        <div class="same-propose">

          <% for (var i = 0; i < maybeulike.length; i++) { %>
            <% if (i > 4) {break}%>
            <a href="/reviews/<%=maybeulike[i]._id%>" class="same-propose-item">
              <div class="review_recomed">
                <img src="<%=maybeulike[i].image%>" alt="">
              </div>
              <div class="same-propose-item_title">
                <div class="same-name"><%=maybeulike[i].ten_truyen%></div>
                <div class="same-last-time"><%=maybeulike[i].update_date%></div>
              </div>
            </a>
            
            <% }} %>
          </div>

      </div>

    </div>
    </div>

  </main>

  <%- include(footerFile) %>
</body>

<div class="loaded">
  <div class="loaded_wrap">
    <div class="loader book">
      <figure class="page"></figure>
      <figure class="page"></figure>
      <figure class="page"></figure>
    </div>

    <h1>Loading</h1>
  </div>
</div>
<div class="jackpot">
  <h1>Chúc Bạn Đọc Vui Vẻ!!!</h1>
  <div class="slots" id="slots">
    <span>X</span>
    <span>X</span>
    <span>X</span>
  </div>
  <button>
    <span>Continue</span>
    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
      <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
    </svg>
  </button>
</div>
 
<script>const idtruyen = '<%=idtruyen%>'</script>
<script src="/src/JS/review.js"></script>


</html>